{% if user.is_authenticated %}
<nav class="navbar navbar-expand-sm navbar-dark bg-custom">
  {% if user.is_authenticated %}
    <button type="button" id="sidebarCollapse" class="collapse-btn"><i class="fas fa-bars"></i></button>
  {% endif %}

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav ml-auto">    
        <li class="nav-item dropdown">
          <a class="btn btn-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome, {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}">Log Out</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
{% endif %}

