<div class="container-fluid row mx-0 px-2 modules-container">
  <div class="col">
    <button class="btn btn-link scroll-btn left"><i class="fas fa-caret-left"></i></button>
    <button class="btn btn-link scroll-btn right"><i class="fas fa-caret-right"></i></button>
    <div class="horizontal-scroll">
      {% for module in leads_modules %}
        {% include 'global/module_leads.html' %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-fluid row mx-0 px-2 modules-container">
  <div class="col">
    <button class="btn btn-link scroll-btn left"><i class="fas fa-caret-left"></i></button>
    <button class="btn btn-link scroll-btn right"><i class="fas fa-caret-right"></i></button>
    <div class="horizontal-scroll">
      {% for module in db_stats_modules %}
        {% include 'global/module_db_stats.html' %}
      {% endfor %}
    </div>
  </div>
</div>

