{% load static %}
<!-- Sidebar -->
<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="row sidebar-header px-2 py-3">
      <div class="col pr-0" style="max-width: 25%;"><img src="{% static 'exactly_dashboard_home/img/exactly-icon.svg' %}" class="exactly-icon" alt="Exactly"></div>
      <div class="col text-left py-0 pl-2 exactly-name">Exactly</div>
    </div>
    <!-- Sidebar Links -->
    <ul class="list-unstyled components" id="dashboards">
      {% for dashboard in dashboards %}
        <li class="text-left">
            <div class="sidebar-button py-1 px-2">
              <span class="d-icon px-2">{{ dashboard.icon|safe }}</span>
              <span class="d-name px-2">{{ dashboard.name }}</span>
            </div>
        </li>
      {% endfor %}
    </ul>
    <!-- End of Sidebar Links -->
</nav>
<!-- End of Sidebar -->
