<form>
  <div class="form-group">
    <label for="spreadsheet-id">Spreadsheet ID</label>
    <input type="email" class="form-control" id="spreadsheet-id" aria-describedby="sheet-id-help" placeholder="Enter Google Spreadsheet ID">
    <!-- <small id="sheet-id-help" class="form-text text-muted">Spreadsheet ID: https://docs.google.com/spreadsheets/d/<strong>1XiUk3vX57q7Tmd0ysI-wtyJBIDV5tkPAsW3_Xg1U4FI</strong>/edit#gid=0</small> -->
    <button type="button" class="btn btn-primary">Load</button>
  </div>
  <div class="form-group">
    <label for="columns-to-include">Columns to Keep</label>
    <input type="text" class="form-control" id="columns-to-include" placeholder="Enter the names of the columns to include separated by a comma">
  </div>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="header-check">
    <label class="form-check-label" for="header-check">Check this if the spreadsheet has a header as the first row.</label>
  </div> -->

</form>
